.propertice1{
    width: 100%;
    max-width: 1252px;
    margin: 3rem auto;
    color: black;  
}

.wrapperPropertice1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: hidden;
}

.optionPropertice{
    max-width: 1252px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}